In [1]:
import groupster as gr
import fakeitmakeit as fm

In [2]:
c = fm.cohort(n=39)

c = c.assign(
    female=lambda df_: df_.gender.eq("male"),
    china=lambda df_: df_.nationality.eq("China"),
    name=lambda df_: df_.first_name + " " + df_.last_name,
).loc[:, ["name", "female", "china"]]

a = fm.assignment(c.index, 65, 7, pfail=0.02, pnan=0.02)

data = c.merge(a, left_index=True, right_index=True)

groups = {"g1": 10, "g2": 10, "g3": 10, "g4": 9}

c = gr.Cohort(
    data,
    bools=["female", "china"],
    nums=["mark"],
    groups=groups,
)

c.diversity()

bool_female       0.615385
bool_china        0.461538
num_mark_mean    65.884474
num_mark_std      7.481222
dtype: float64

In [3]:
keep_together = [c.data.sample(2).index.tolist() for _ in range(2)]
keep_separate = [c.data.sample(2).index.tolist() for _ in range(2)]

print(keep_together)
print(keep_separate)

[['mo5929', 'es539'], ['ys7296', 'ta779']]
[['nhm82', 'grw545'], ['tdp32', 'py373']]

In [4]:
c.diversity_cost()

np.float64(1.7768406717614256)

In [5]:
c.restriction_cost(keep_together=keep_together, keep_separate=keep_separate)

np.int64(0)

In [6]:
c['g1'].diversity_cost(c.diversity())

np.float64(0.27505941627153374)

In [7]:
c['g1'].restriction_cost(keep_separate=keep_separate, keep_together=keep_together)

np.int64(1)

In [8]:
c.overview()

/home/mbeg/repos/teachnology/groupster/src/groupster/cohort.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gb = self.data.groupby("group")

       size  diversity_cost  female  china  mean(mark)  std(mark)
group
g1       10        0.275059       7      5       64.90       6.46
g2       10        0.392428       6      6       68.67       8.95
g3       10        0.544023       6      4       65.38       4.04
g4        9        0.565330       5      3       64.27      10.12

In [9]:
s = gr.Solver(keep_separate=keep_separate, keep_together=keep_together)

In [10]:
s.solve(cohort=c, n=2000)

Solving: 100%|██████████| 2000/2000 [00:31<00:00, 63.64it/s, diversity_cost=0.367, restriction_cost=-4, acceptance_rate=0]

In [11]:
c.overview()

/home/mbeg/repos/teachnology/groupster/src/groupster/cohort.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gb = self.data.groupby("group")

       size  diversity_cost  female  china  mean(mark)  std(mark)
group
g1       10        0.055741       6      5       65.96       7.49
g2       10        0.094007       6      4       67.00       7.48
g3       10        0.111650       6      5       62.72       7.55
g4        9        0.105522       6      4       68.20       7.47

In [12]:
keep_together

[['mo5929', 'es539'], ['ys7296', 'ta779']]

In [14]:
keep_separate

[['nhm82', 'grw545'], ['tdp32', 'py373']]

In [13]:
c.data.sort_values(by=["group", "name"])

                      name  female  china   mark group
username
eo48          Elif Ominova   False  False  81.40    g1
jwl620          John Lynch    True  False  67.89    g1
lh627               Lei Hu    True   True  68.91    g1
lcx85              Li Xiao   False   True  57.02    g1
mw66              Min Wang    True   True  61.06    g1
nhm82          Nora Mosley    True  False  64.06    g1
py373            Ping Yuan   False   True  56.48    g1
rl973         Robert Logan    True  False  68.94    g1
vpb8842       Victor Baker    True  False  62.17    g1
yb18               Yan Bai   False   True  71.70    g1
gh87              Gang Han   False   True  70.09    g2
grw545       Gary Williams    True  False  68.95    g2
ltf326       Lino Fabregat    True  False  73.19    g2
mib797      Matteo Bartoli    True  False  69.94    g2
sb456        Sarah Bernard   False  False    NaN    g2
tbq785            Tao Qiao   False   True  64.63    g2
ta779          Tyler Adams    True  False  62.23    g2
vj148      Vanessa Jenkins   False  False  79.76    g2
ys7296            Yan Shen    True   True  56.90    g2
yh4705             Yang Hu    True   True  57.30    g2
dh9864      Deborah Hughes   False  False  61.18    g3
ft71              Fang Tan    True   True  80.42    g3
jd2285            Jun Deng   False   True  62.40    g3
mm4130      Michelle Mason   False  False  56.57    g3
mk2521            Min Kang    True   True  51.63    g3
mhq6982            Min Qiu    True   True  65.53    g3
rnb894      Raymond Bishop    True  False  64.56    g3
tdp32         Tami Parrish   False  False  57.81    g3
tn405      Thomas Nicholls    True  False  63.93    g3
xyy256         Xiuying Yin    True   True  63.20    g3
awp8454   Alexander Parker    True  False  51.15    g4
es539     Edoardo Sbarbaro    True  False  63.40    g4
jtz20            Jing Zeng    True   True  73.44    g4
jy28             Juan Yuan   False   True  74.59    g4
js1920             Jun Sun   False   True  74.33    g4
ks70          Kevin Savage    True  False  73.00    g4
lc2002       Linda Carlson   False  False  66.89    g4
mo5929      Matthew Oliver    True  False  67.65    g4
nfh352               Na Hu    True   True  69.31    g4