In [1]:
import fakeitmakeit as fm
import pandas as pd
import groupster as gr

In [2]:
data = pd.read_csv("../../tests/data/cohort.csv", index_col="username")
groups = {"g1": 10, "g2": 10, "g3": 10, "g4": 10, "g5": 9}

cohort = gr.Cohort(
    data,
    nums=["mark"],
    groups=groups,
)

cohort.diversity

num_mark_mean    63.194082
num_mark_std     14.129970
dtype: float64

In [3]:
cohort.overview()

       size  diversity_cost  mean(mark)  std(mark)
group
g1       10        0.734726       67.18       4.64
g2       10        0.570221       59.37      21.33
g3       10        0.836174       70.19       3.88
g4       10        0.755873       63.08       3.47
g5        9        0.646707       55.37      21.52

In [4]:
solver = gr.Solver()
solver.solve(cohort=cohort, n=1000)

Solving:   0%|          | 0/1000 [00:00<?, ?it/s, Cost=pending, Acceptance rate=pending]

Solving: 100%|██████████| 1000/1000 [00:04<00:00, 214.52it/s, diversity_cost=2.85, restriction_cost=0, acceptance_rate=0.01]

In [5]:
cohort.overview()

       size  diversity_cost  mean(mark)  std(mark)
group
g1       10        0.558714       65.62       6.78
g2       10        0.546516       60.36      21.22
g3       10        0.553297       65.59       6.85
g4       10        0.570384       65.70       6.63
g5        9        0.624788       58.20      21.84

In [5]:
c.restriction_cost(keep_together=keep_together, keep_separate=keep_separate)

np.int64(0)

In [6]:
c["g1"].diversity_cost(c.diversity())

np.float64(0.27505941627153374)

In [7]:
c["g1"].restriction_cost(keep_separate=keep_separate, keep_together=keep_together)

np.int64(1)

In [8]:
c.overview()

/home/mbeg/repos/teachnology/groupster/src/groupster/cohort.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gb = self.data.groupby("group")

       size  diversity_cost  female  china  mean(mark)  std(mark)
group
g1       10        0.275059       7      5       64.90       6.46
g2       10        0.392428       6      6       68.67       8.95
g3       10        0.544023       6      4       65.38       4.04
g4        9        0.565330       5      3       64.27      10.12

In [9]:
s = gr.Solver(keep_separate=keep_separate, keep_together=keep_together)

In [10]:
s.solve(cohort=c, n=2000)

Solving: 100%|██████████| 2000/2000 [00:31<00:00, 63.64it/s, diversity_cost=0.367, restriction_cost=-4, acceptance_rate=0]

In [11]:
c.overview()

/home/mbeg/repos/teachnology/groupster/src/groupster/cohort.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gb = self.data.groupby("group")

       size  diversity_cost  female  china  mean(mark)  std(mark)
group
g1       10        0.055741       6      5       65.96       7.49
g2       10        0.094007       6      4       67.00       7.48
g3       10        0.111650       6      5       62.72       7.55
g4        9        0.105522       6      4       68.20       7.47

In [9]:
import pandas as pd


c = pd.read_csv('../../tests/data/cohort.csv', index_col='username')

c.female.mean()

np.float64(0.2653061224489796)

In [ ]:
c.iloc[:10, :].mark.std()

np.float64(4.212094886553879)

In [11]:
c.mark.mean()

np.float64(65.74510204081633)

In [12]:
c.mark.std()

np.float64(5.383408586593077)

In [15]:
cohort.data.groupby('group').mark.mean()

group
g1    65.621
g2    60.361
g3    65.592
g4    65.697
g5    58.200
Name: mark, dtype: float64